.idea/
.vscode/

node_modules/
public/bower_components/


.DS_Store
*.log

coverage/

api-docs/
.npm-debug.log
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
